$("#busy").css("visibility","hidden");

makeBubbles(0);

startChirp("<b>Invalid address/landmark</br>Please enter a valid: </br> Address, Landmark, \
  Country, City, State, or Zip.</b></br>" + 
  "<p>Example:</br> => Milpitas, CA (address)</br> => Eiffel Tower \
  (landmark)</br> => 91210 (zip code)</p>", false);