<!DOCTYPE html>
<html>
<head>
  <title>Tweets Around</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<meta name="keywords" content="TweetsAround, Rails, Application, RoR, Mashup, MongoDB, Twitter API, Google Maps API">
<meta name="description" content="TweetsAround is a Rails application that demonstrates mashing of MongoDB, Twitter API and Google Maps API">

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body onload="initialize()">
  <%= yield %>
  <div id="map_canvas" style="width:100%; height:88%"></div>
  <div align="center" id="about"> Rails | Twitter API | MongoDB | Google Maps API | mash-up hacked by 'Aslam Tajwala' &nbsp | &nbsp <a href="http://aslamtajwala.com">http://aslamtajwala.com/</a> &nbsp | &nbsp <a href="https://github.com/atajwala/tweets_around"> source on GitHub </a> <div>
</body>

</html>
