<!DOCTYPE html>
<html>
<head>
  <title>Tweets Around</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

<meta name="keywords" content="TweetsAround, Rails, Application, RoR, Mashup, MongoDB, Twitter API, Google Maps API">
<meta name="description" content="TweetsAround is a Rails application that demonstrates mashing of MongoDB, Twitter API and Google Maps API">

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3931772-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body onload="initialize()">
  <%= yield %>
  <div id="map_canvas" style="width:100%; height:88%"></div>
  <div align="center" id="about"> Rails | Twitter API | MongoDB | Google Maps API | mash-up hacked by 'Aslam Tajwala' &nbsp | &nbsp <a href="http://aslamtajwala.com">http://aslamtajwala.com/</a> &nbsp | &nbsp <a href="https://github.com/atajwala/tweets_around"> source on GitHub </a> <div>
</body>

</html>
